@model IEnumerable<BodyaFen_spotify_.Models.Genre>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" id="linkTest">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div id="chart1"></div>
</div>

@section scripts {
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Genres Pie Chart</title>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            google.charts.load('current', {
                packages: ['corechart']
            });
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                fetch('api/Chart/JsonData')
                    .then(response => response.json())
                    .then(data => {
                        var dataToDisplay = google.visualization.arrayToDataTable(data);
                        var options = {
                            title: 'Number of Songs in Each Genre',
                            sliceVisibilityThreshold: 0  
                        };
                        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                        chart.draw(dataToDisplay, options);
                    });
            }
        </script>
    </head>

    <body>
        <h2>Genres Pie Chart</h2>
        <div id="piechart" style="width: 900px; height: 500px;"></div>
    </body>
}

